---
Language: Cpp
Standard: Latest
BasedOnStyle: LLVM

UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: true
NamespaceIndentation: All
ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false

SpaceBeforeParens: Always
SpacesInParentheses: true
SpaceInEmptyParentheses: true
SpacesInSquareBrackets: true
SpaceAfterCStyleCast: false
SpacesInCStyleCastParentheses: false

PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Leave

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AlignAfterOpenBracket: BlockIndent

BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false

BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never

IncludeBlocks: Preserve
SortIncludes: CaseSensitive

Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: true
